@import './partials/colors.styl'

.nav-pills>li.active>a
.nav-pills>li.active>a:focus
.nav-pills>li.active>a:hover
  background-color $primary

a
  color $primary

a:focus
a:hover
  color darken($primary, 10%)

h3
h4
  font-weight bold

h3
  font-size 18px