@import './partials/base.styl'
@import './partials/utils.styl'
@import './partials/fonts.styl'
@import './partials/colors.styl'
@import './partials/form.styl'
@import 'bootstrap-override.styl'

$stripes-height = 42px

body
  background-color $body
  &.home .site-logo
    display none

#header
  background-color #0e0e0e
  background-image url('../images/grey_wash_wall.png')
  color white
  position relative

  .site-logo img
    max-width 170px
    padding 10px

  .contact__item
    padding-top 20px

    > svg
      color $primary
      font-size 2rem
      position relative
      top 2px
      margin-right 5px

#menu
  padding 20px 0

#menu-main-menu
  float right
  > li:not(:first-child)
    margin-left 8px

.hero
  height 800px
  background-size cover
  background-position center 100%
  position relative
  border-bottom 2px solid $body_accent
  box-shadow 0 10px 28px 14px rgba(0,0,0,0.4)

  > .stripes
    height $stripes-height
    width 100%
    position absolute
    &.top
      top 0
    &.bottom
      bottom 0

  .hero__header
    color white
    text-align center
    padding-top 50px

  .hero__logo
    width 50%

  .hero__boxes
    position absolute
    bottom -80px
    width 100%
    z-index 1

    .stripes
      height 14px

  .hero__box
    padding 0 20px

  .box__inner
    background-color #fff
    padding 30px
    position relative
    border-bottom 4px solid $primary

    h2
      margin 0 0 20px
      text-transform uppercase
      text-align center
      
      &::first-letter
        font-size 1.2em

#primary-content
  padding-top 100px

.content-featured-image
  height 600px
  box-shadow inset 0 0 0 20px $body
  background-size contain
  background-repeat no-repeat
  background-position center 0
  margin-top -20px

.gallery
  margin 0
  padding 0
  list-style none

  .gallery__item
    width calc(550px - 10px)
    background-position center
    background-size cover
    background-repeat no-repeat
    margin 5px

#content
  min-height 64vh

#footer
  margin-top 50px
  padding-top 150px
  padding-bottom 120px
  background-color $body_accent
  color $body