body {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}
.hero .box__inner h2 {
  font-family: 'Nova Flat', sans-serif;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}
html,
body,
#wrapper {
  min-height: 100vh;
}
img {
  max-width: 100%;
  height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.5;
}
p {
  line-height: 1.5;
  margin-bottom: 1.5em;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}
.hero .box__inner h2 {
  font-family: 'Nova Flat', sans-serif;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.2);
}
.stripes {
  background: repeating-linear-gradient(45deg, #f0b300, #f0b300 10px, rgba(0,0,0,0) 10px, rgba(0,0,0,0) 20px);
  box-shadow: inset 0 5px 9px -2px rgba(0,0,0,0.4);
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}
.hero .box__inner h2 {
  font-family: 'Nova Flat', sans-serif;
}
.contact-form label {
  color: #ddd;
  font-family: 'Open Sans', sans-serif;
}
.contact-form input,
.contact-form textarea {
  color: #444;
}
.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
  background-color: #f0b300;
}
a {
  color: #f0b300;
}
a:focus,
a:hover {
  color: #d8a100;
}
h3,
h4 {
  font-weight: bold;
}
h3 {
  font-size: 18px;
}
body {
  background-color: #8a867b;
}
#header {
  background-color: #0e0e0e;
  background-image: url("../images/grey_wash_wall.png");
  color: #fff;
  position: relative;
}
#header .site-logo img {
  max-width: 170px;
  padding: 10px;
}
#header .contact__item {
  padding-top: 20px;
}
#header .contact__item > svg {
  color: #f0b300;
  font-size: 2rem;
  position: relative;
  top: 2px;
  margin-right: 5px;
}
#menu {
  padding: 20px 0;
}
#menu-main-menu {
  float: right;
}
#menu-main-menu > li:not(:first-child) {
  margin-left: 8px;
}
.hero {
  height: 800px;
  background-size: cover;
  background-position: center 100%;
  position: relative;
  border-bottom: 2px solid #53514a;
  box-shadow: 0 10px 28px 14px rgba(0,0,0,0.4);
}
.hero > .stripes {
  height: 42px;
  width: 100%;
  position: absolute;
}
.hero > .stripes.top {
  top: 0;
}
.hero > .stripes.bottom {
  bottom: 0;
}
.hero .hero__header {
  color: #fff;
  text-align: center;
  padding-top: 50px;
}
.hero .hero__logo {
  width: 50%;
}
.hero .hero__boxes {
  position: absolute;
  bottom: -80px;
  width: 100%;
  z-index: 1;
}
.hero .hero__boxes .stripes {
  height: 14px;
}
.hero .hero__box {
  padding: 0 20px;
}
.hero .box__inner {
  background-color: #fff;
  padding: 30px;
  position: relative;
  border-bottom: 4px solid #f0b300;
}
.hero .box__inner h2 {
  margin: 0 0 20px;
  text-transform: uppercase;
  text-align: center;
}
.hero .box__inner h2::first-letter {
  font-size: 1.2em;
}
#primary-content {
  padding-top: 100px;
}
.content-featured-image {
  height: 600px;
  box-shadow: inset 0 0 0 20px #8a867b;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center 0;
  margin-top: -20px;
}
.gallery {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.gallery .gallery__item {
  width: 50%;
}
.gallery .gallery__caption {
  text-align: center;
  font-style: italic;
}
#content {
  min-height: 64vh;
}
#footer {
  margin-top: 50px;
  padding-top: 150px;
  padding-bottom: 120px;
  background-color: #53514a;
  color: #8a867b;
}
